body{
	overflow: hidden;
} 
#leftlist {
	height: 100%;
	width: 25%;
	position: absolute;
}
#leftlistiems {
	width: 65%;
}
#iframe {
	position: absolute;
	width: 75%;
	height: 100%;
	margin-left: 25%;
}
#information {
	margin-top: 15%;
}
h1 {
	color: white;
	font-family: 'Source Code Pro';
	font-weight: 600;
	font-size: 120%;	
	text-indent: 5%;
}
li{
	color: white;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 100%;	
	text-indent: 5%;
}
ul {
	list-style-type: none;
}
#returnleftlist{
	position: absolute;
	text-align: center;
}
#frame {
	border: none;
}
#sourcecode {
	margin-top: 15%;
	display: block;
	background-color: white;
	width: 20%;
	margin-bottom: 1.5%;
	height: 9.5%;
	border: none; 
	margin-left: 10%;
	text-align: center;
	visibility: hidden;
}
#return {
	margin-top: 200%;
	background-color: white;
	width: 40%;
	height: 7.5%;
	border: none; 
	text-align: center;
	text-decoration: none;
	color: gray;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
}
#hide{
	display: block;
	background-color: white;
	width: 20%;
	height: 9.5%;
	border: none; 
	margin-left: 10%;
	text-align: center;
	text-decoration: none;
	color: gray;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
}
#clear {
	display: block;
	background-color: white;
	width: 20%;
	height: 9.5%;
	border: none; 
	margin-left: 10%;
	text-align: center;
	text-decoration: none;
	color: gray;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
	margin-bottom: 1.5%;
}
#sourcecodelink {
	text-decoration: none;
	color: gray;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 12px;
	cursor: pointer;
}
#sourcecodelink:visited {
	background-color: gray;
}
#examplecontrols {
	margin-left: 10%;
	font-family: 'Source Code Pro';
	font-weight: 200;
	color: white;
	width: 50%;
	height: auto;
	font-size: 100%;
	text-align: left;
}
#exampleinfo {
	margin-left: 10%;
	font-family: 'Source Code Pro';
	font-weight: 200;
	color: white;
	width: 50%;
	height: auto;
	font-size: 100%;
	text-align: left;	
}
.info {
	color: white;
	font-family: 'Source Code Pro';
	font-weight: 200;
	font-size: 100%;	
	text-indent: 5%;
}
#githublink {
	text-decoration: none;
	color: white;
}
#githublink:visited {
	text-decoration: white;
}

button:focus {outline:0;};
