@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400);

body{
	overflow: hidden;
	padding: 0;
	margin: 0;
} 
#leftlist {
	height: 100%;
	width: 300px;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
}
#leftlistiems {
	width: 250px;
}
#iframe {
	position: absolute;
	width: 75%;
	height: 100%;
	margin-left: 310px;
}
h1 {
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 600;
	font-size: 1.5em;	
	text-indent: 5%;
}
li{
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 1em;	
	text-indent: 5%;
}
ul {
	list-style-type: none;
}
.link{
	display: inline-block;
	text-decoration:  none;
	margin-left: 10%;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	color: #e74c3c;
	width: 50%;
	height: auto;
	font-size: 100%;
	text-align: left;
}
.link:hover{
	text-decoration: underline;
	text-shadow: 1px 1px 1px #000;

}
#returnleftlist{
	position: absolute;
	text-align: center;
}
#frame {
	border: none;
}
.CSSTransition{
	opacity: 1;

	background-color: rgba(0, 0, 0, 0.6);

	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;

	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	border: 1px solid;
	border-radius: 6px;
}
.CSSTransition:active{
	transition: all 0.1s ease-in-out;
 	-ms-transform: scale(0.80,0.80); 
	-webkit-transform: scale(0.80,0.80);
	transform: scale(0.80,0.80);
}
.CSSTransition:hover{
	background-color: rgba(230, 126, 34, 0.8);
}
#sourcecode {
	position: relative;
	float: left;
	margin-top: 15%;
	margin-bottom: 1.5%;
	width: 55px;
	height: 40px;
	border: none; 
	margin-left: 10%;
	text-align: center;
	visibility: hidden;
	top: -45px;
	text-decoration: none;
	color: white;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 12px;
	cursor: pointer;
}
#return {
	margin-top: 200%;
	width: 55px;
	height: 40px;
	border: none; 
	text-align: center;
	text-decoration: none;
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
}
#hide{
	position: relative;
	display: block;
	width: 45px;
	height: 40px;
	float: left;
	border: none; 
	margin-left: 10%;
	text-align: center;
	text-decoration: none;
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
	margin-bottom: 1.5%;
}
#clear {
	position: relative;
	display: block;
	width: 45px;
	height: 40px;
	float: left;
	border: none; 
	margin-left: 10%;
	text-align: center;
	text-decoration: none;
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 12px;
	visibility: hidden;
	cursor: pointer;
	margin-bottom: 1.5%;
}
#sourcecodelink {
	text-decoration: none;
	color: white;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 12px;
	cursor: pointer;
	width: 55px;
	height: 40px;
}
#sourcecodelink:visited {
	background-color: white;
}
#examplecontrols {
	margin-left: 10%;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	color: #ecf0f1;
	width: 50%;
	height: auto;
	font-size: 100%;
	text-align: left;
}
#exampleinfo {
	margin-left: 10%;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	color: #ecf0f1;
	width: 50%;
	height: auto;
	font-size: 100%;
	text-align: left;
}
.info {
	color: #ecf0f1;
	font-family: 'Alegreya Sans SC';
	font-weight: 200;
	font-size: 100%;	
	text-indent: 5%;
}
.divider{
	position: absolute;
	width: 250px;
	right: 25px;
	height: 1px;
	background-color: #bdc3c7;
}
#linkHolder{
	margin-top: 35px;
}
#githublink {
	text-decoration: none;
	color: #ecf0f1;
}
#githublink:visited {
	text-decoration: #ecf0f1;
}

#buttons{
	top: 10px;
	position: relative;
	display: inline-block;
	width: 300px;
}

button:focus {outline:0;};

/*
	BG:Turquoise - #1abc9c
	B:Green Sea - #16a085
	
	Emerald - #2ecc71
	Nephritis - #27ae60

	Peter River - #3498db
	Belize Hole - #2980b9

	Amethyst - #9b59b6
	Wisteria - #8e44ad

	Wet Asphalt - #34495e
	Midnight Blue - #2c3e50

	Sun Flower - #f1c40f
	Orange - #f39c12
	
	Carrot - #e67e22
	Pumpkin - #d35400

	Alizarin - #e74c3c
	Pomegranate - #c0392b

	Clouds - #ecf0f1
	Silver - #bdc3c7

	Concrete - #95a5a6
	Asbestos - #7f8c8d
*/
